<!DOCTYPE html>
<html>
	<head>
		<title>JavaScript Playground</title>
		<link rel="stylesheet" type="text/css" href="../css/main.css">
	</head>
	<body>
		<div class="nav">
				<ul>
					<li><a class="default" href="../index.html">Home</a></li>
					<li><a href="html-playground.html">HTML</a></li>
					<li><a href="css-playground.html">CSS</a></li>
					<li><a href="bootstrap-playground.html">Bootstrap</a></li>
					<li><a href="javascript-playground.html">JavaScript</a></li>
					<li><a href="jquery-playground.html">jquery</a></li>
					<li><a href="git-playground.html">Git</a></li>
					<li><a href="resources-playground.html">Resources</a></li>
				</ul>
			</div>

		<h1>JavaScript Items</h1>

		<h2>Age</h2>
		<p>I am <a id="my-age"></a> years old.</p>

		<h2>Graduation</h2>
		<p>I graduated in <a id="graduation-year"></a></p>

		<h2>Kids</h2>
		<p>I have <a id="number-of-kids"></a> kids.</p>

		<h2>Funny Line</h2>
		<p><a id="reveal-funny-line"></a></p>
				<button onclick="revealFunny()">See funny stuff</button>

		<div class="booleans">
		<h2> Basketball Stories</h2>
		<h5>Two Truths, One Lie</h5>
				<h3>Story One</h3>
				<p><a class="jsitem" id="famousBasketballStory1"></a></p>
				<h3>Story Two</h3>
				<p><a class="jsitem" id="famousBasketballStory2"></a></p>
				<h3>Story Three</h3>
				<p><a class="jsitem" id="famousBasketballStory3"></a></p>
				<button onclick="revealLie()">See answer</button>
				<p id="falsebballstory"></p>
	</div>

		<div class="loops">
		<h2>Loops</h2>
		<h5>For Loops</h5>
		<p id="loop-message"></p>





		<script src="../js/scripts.js"></script>	
		
	</body>
</html>