<!DOCTYPE html>
<html>
	<head>
		<title>Resources</title>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

		<link rel="stylesheet" type="text/css" href="../css/main.css">
	</head>
	<body>
	<div class="nav">
		<ul>
			<li><a class="default" href="../index.html">Home</a></li>
			<li><a href="html-playground.html">HTML</a></li>
			<li><a href="css-playground.html">CSS</a></li>
			<li><a href="bootstrap-playground.html">Bootstrap</a></li>
			<li><a href="javascript-playground.html">JavaScript</a></li>
			<li><a href="jquery-playground.html">jquery</a></li>
			<li><a href="git-playground.html">Git</a></li>
			<li><a href="resources-playground.html">Resources</a></li>
		</ul>
	</div>

	<!--TODO: Add correct image -->
	<div>
		<h2>Inspiration & Motivation</h2>
			<p>Here's a little image to keep in mind when things get tough in coding.</p>
			<img src="../img/empirestaterobot.jpg" />			
	</div>






	<div class="resources">
		<h2>Resources</h2>
			<h3>Here are some good resources</h3>

		<table border="1">
			<tr>
				<td>Languages</td>
				<td>Site Name</td>
				<td>Link</td>
				<td>Description</td>
			</tr>
			<tr>
				<td>HTML, CSS, JavaScript, jQuery</td>
				<td>w3schools</td>
				<td><a href="https://www.w3schools.com">w3schools</a></td>
				<td>This site has practice examples for basic web development.</td>
			</tr>
			<tr>
				<td>HTML, CSS, JavaScript, jQuery</td>
				<td>w3schools</td>
				<td><a href="https://www.w3schools.com">w3schools</a></td>
				<td>This site has practice examples for basic web development.</td>
			</tr>
			<tr>
				<td>HTML, CSS, JavaScript, jQuery</td>
				<td>w3schools</td>
				<td><a href="https://www.w3schools.com">w3schools</a></td>
				<td>This site has practice examples for basic web development.</td>
			</tr>


		</table>
	
	</div>
















	



	</body>
</html>
